[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
flask-sqlalchemy = "*"
flask-cors = "*"
flask-jwt-extended = "*"
flask-bcrypt = "*"
flask-migrate = "*"
python-dotenv = "*"
requests = "*"
psycopg2-binary = "*"
flask-caching = "*"

[requires]
python_version = "3.12"

[scripts]
dev = "python app.py"
backend = "python app.py"
