nav {
  background-color: #007bff;
  padding: 1rem;
  color: white;
  font-size: 1.2rem;
  border-bottom: 4px solid #0056b3;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav a {
  color: white;
  text-decoration: none;
  margin: 0 10px;
}

nav a:hover {
  text-decoration: underline;
}

footer {
  margin-top: auto;
  background-color: #333;
  color: white;
  text-align: center;
  padding: 2rem;
  font-size: 1.2rem;
  border-top: 4px solid #007bff;
}
