nav {
  background-color: #333;
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
  border-bottom: 4px solid lightseagreen;
}

.navbar-brand {
  color: cadetblue;
  font-size: 1.5rem;
  font-weight: bold;
}

.nav-link {
  color: white;
  text-decoration: none;
  padding: 0.5rem;
  align-content: center;
}

.nav-link:hover {
  text-decoration: underline;
}
