form {
  display: flex;
  flex-direction: column;
  gap: 6px;
}

label {
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 4px;
}

/* Ajuste de estilos en react-select */
.custom-select .custom-select__control {
  padding: 3px;
  font-size: 14px;
  border-radius: 12px;
  border: 1px solid #ccc;
  margin-bottom: 1px;
  width: 100%;
}

/* Ajuste de bordes en input de número */
.custom-input {
  padding: 10px;
  font-size: 14px;
  border-radius: 12px;
  border: 1px solid #ccc;
  margin-bottom: 12px;
  width: 100%;
}

/* Botón de calcular */
button.calculate-button {
  width: 100%;
  padding: 12px;
  font-size: 16px;
  margin-top: 15px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 12px;
  transition: background-color 0.3s ease;
  cursor: pointer;
}

button:hover {
  background-color: #0056b3;
}

.error-text {
  color: #d9534f;
  font-size: 13px;
  margin-bottom: 10px;
}
